
.panel {

  width : 350px;

}


.panel-body {

# background-color : #DDD;
}

.description {
  font-size : 0.75em;
   color : grey;
}


.required::before {
  content : "* ";
  color : #a94442;
}


.optional::after {
  content : " (Option)";
  color : grey;
  font-size : 0.75em;
}


