
.panel {

  width : 350px;

}


.panel-body {

 #background-color : #DDD;
}

.description {
  font-size : 0.75em;
   color : grey;
}


.required::before {
  content : "* ";
  color : #a94442;
}


.optional::after {
  content : " (Option)";
  color : grey;
  font-size : 0.75em;
}


.popover {

  display : block; /*By default the Boostrap popover is hidden */
  color : #a94442;
  width : 300px;
  color: #a94442;

}


.input-container {

  position : relative;/* This is important to position the tooltip in the middle of the input*/
}

.flag {
  margin : 1px;
  padding : 1px;
}
