
.panel {

  width : 350px;

}


.panel-body {

 #background-color : #DDD;
}




.input-container {

  position : relative;/* This is important to position the tooltip in the middle of the input*/
}

.flag {
  margin : 1px;
  padding : 1px;
}


.disabled {
  color : darkgrey;
/*   display : none; */
/*   visibility : hidden; */
}




#create-person-action {

}

#create-person-clean {

}


.stepper {

  display: flex;
}

.stepper>.btn:last-child:not(:first-child) {

  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}


.stepper>.btn:first-child:not(:last-child) {

  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}

