
.panel {

  width : 350px;

}


.panel-body {

 #background-color : #DDD;
}




.input-container {

  position : relative;/* This is important to position the tooltip in the middle of the input*/
}

.flag {
  margin : 1px;
  padding : 1px;
}


.disabled {
  color : darkgrey;
/*   display : none; */
/*   visibility : hidden; */
}




#create-person-action {

}

#create-person-clean {

}








